{% extends 'index.html' %}
{% block body%}
<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8"/>-->
<!--<title>view patients</title>-->
	<style type="text/css">
			body
		{
		background:linear-gradient(#3455a4,#0865a0);
		}
		table
			{
			 text-align:center;
			 width:100%;
			border-color: linen;
			color: white;
			}
				th{
		text-align:center;
		  color:#fff;
		  padding:5px;
		  background-color:#333;
		}td{
		  color:#fff;
		  padding:5px;
		  background-color:transparent;
		}
		button
			{
			width: 100%;
			color:black;
			background:transparent;
			border: 1px solid #000;
			}
	</style>
</head>

<body>
	<table cellspacing="2">
	  <caption><h3>PATIENTS</h3></caption>
		<tr>
			<th>Name</th>
			<th>DOB</th>
			<th>Gender</th>
			<th>Place</th>
			<th>Post</th>
			<th>Pin</th>
			<th>Phone</th>
			<th>consulted/not</th>
			
		</tr>
			<tr>{%for i in val%}
			<td>{{i[2]}} {{i[3]}}</td>
			<td>{{i[5]}}</td>
			<td>{{i[4]}}</td>
			<td>{{i[6]}}</td>
			<td>{{i[7]}}</td>
			<td>{{i[8]}}</td>
			<td>{{i[9]}}</td>
			<td>
			<a href="/con_d?id={{i[11]}}" style="color:white">consulted</a><br>
			<a href="/ncon_d?id={{i[11]}}" style="color:white">not consulted</a></td>
		</tr>
		{%endfor%}
	</table>
</body>
<!--</html>-->
{%endblock%}