{% extends 'index.html' %}
{% block body%}
<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8"/>-->
<!--<title>view replay</title>-->
	<style type="text/css">
			body
		{

		}
		table
			{
			 text-align:center;
			 width:100%;
			border-color: linen;
			color: white;
			}
				th{
		text-align:center;
		  color:#fff;
		  padding:5px;
		  background-color:#333;
		}td{
		  color:#fff;
		  padding:5px;
		  background-color:transparent;
		}
		button
			{
			width: 100%;
			color:black;
			background:transparent;
			border: 1px solid #000;
			}
	</style>
</head>

<body>
	<table cellspacing="2">
	  <caption><h3>REPLAY</h3></caption>
		<tr>
			<th>COMPLAINT</th>
			<th>DATE</th>
			<th>REPLAY</th>
		</tr>
		{% for i in val %}
		<tr>
			<td>{{i[2]}}</td>
			<td>{{i[3]}}</td>
			<td>{{i[4]}}</td>
		</tr>
		{% endfor %}
	</table>
</body>
<!--</html>-->
{%endblock%}